{% load static %}
<footer class="section" id="footer">
    <div class="footer_con container" style="padding-top: 100px;">
        <div class="footer border-bottom border-top d-flex justify-content-between align-items-start ms-3 me-3"
             style="padding-top: 80px;padding-bottom:80px;">
            <div class="f_con">
                <img src="{% static "main/img/Vectorlogo.svg" %}" alt="">
            </div>
            <div class="f_con">
                <h4 class="font-f-g text-white">Контакты</h4>
                <p class="font-f-cg text-white">+7 (812) 123-45-67</p>
                <p class="font-f-cg text-white">+7 (911) 123-45-67</p>
                <p class="font-f-cg text-white">+7 (911) 123-45-67</p>
            </div>
            <div class="f_con">
                <h4 class="font-f-g text-white">Режим работы</h4>
                <p class="font-f-cg text-white">C 10:00 до 21:00 (Пн-Пт)</p>
                <p class="font-f-cg text-white">С 11:00 до 20:00 (Сб-Вс)</p>
            </div>
            <div class="f_con">
                <h4 class="font-f-g text-white">Мы в Instagram</h4>
                <a class="heanav border-bottom-0" aria-current="page" href="https://www.instagram.com/"><i
                        class="bi bi-instagram" style="font-size: 24px;"></i></a>
            </div>
        </div>
        <div class="f_span text-center pt-3 pb-3">
            <span class="text-white">Copyright © 2017 - 2022</span>
        </div>
    </div>
</footer>