{% extends "layouts/base-1.html" %}
{% load static %}


{% block content %}
        <section>
        <div class="section_1_d">
            <div class="sec_1sen text-center">
                <h1 class="text-white font-f-g">Контакты</h1>
            </div>
            <div class="sec_1img container pt-5">
                <div class="contacts img card bg-dark">
                    <img src="{% static "main/img/Rectangle 40global.jpg" %}" alt="">
                </div>
                <div class="footer d-flex justify-content-between align-items-start ms-3 me-3 pb-0" style="padding-top: 80px;padding-bottom:80px;">
                    <div class="f_con">
                        <h4 class="font-f-g text-white">Контакты</h4>
                        <p class="font-f-cg text-white">+7 (812) 123-45-67</p>
                        <p class="font-f-cg text-white">+7 (911) 123-45-67</p>
                        <p class="font-f-cg text-white">Новоостровский проспект, дом 36 лит. С</p>
                    </div>
                    <div class="f_con">
                        <h4 class="font-f-g text-white">Режим работы</h4>
                        <p class="font-f-cg text-white">C 10:00 до 21:00 (Пн-Пт)</p>
                        <p class="font-f-cg text-white">С 11:00 до 20:00 (Сб-Вс)</p>
                    </div>
                    <div class="f_con">
                        <h4 class="font-f-g text-white">Контакты</h4>
                        <p class="font-f-cg text-white">+7 (812) 123-45-67</p>
                        <p class="font-f-cg text-white">+7 (911) 123-45-67</p>
                        <p class="font-f-cg text-white">Новоостровский проспект, дом 36 лит. С</p>
                    </div>
                    <div class="f_con">
                        <h4 class="font-f-g text-white">Режим работы</h4>
                        <p class="font-f-cg text-white">C 10:00 до 21:00 (Пн-Пт)</p>
                        <p class="font-f-cg text-white">С 11:00 до 20:00 (Сб-Вс)</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}